.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 75%
    width: 100px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 11%
    right: 2%
    width: 100px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@media (min-width: 576px) 
  .banner-principal__row .banner-principal__img 
    padding-right: 3rem !important
    padding-top: 0 !important 
@media (min-width: 992px) 
  .col-lg-5.banner-principal__img
    width: 50% !important
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/bg-tablet.png') !important
      background-repeat: no-repeat 
      background-size: cover
      background-position: 100% -39% !important
  @media (max-width: $bp-min-sm) 
    .tarjeta
      background-image: url('../assets/curso/portada/bg-mobile.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: center !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.png") !important
.titulo-principal.color-acento-contenido .titulo-principal__numero
  background-color: #638164
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #fff

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 400px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
  background-color: #F6F6F6
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #3bf2d6
  border: 1px solid #3bf2d6

.slyder-a__bullets__item 
  background-color: #EDF7ED
  border: 1px solid #EDF7ED
.fondo_intro
  background-image: url('../assets/curso/fondointro.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 

.fa-angle-right2
  content: url('../assets/curso/Tema2/circulo.svg')
  width: 12px
  height: 12px
.bg1
  background-color: #F3F9FF
  border-radius: 20px
.bg2
  background-color: #EDF7ED
  border-radius: 20px
.bg3
  background-color: #DBEEDC
.bg4
  background-color: #FFB74D
.bg5
  background-color: #FFF7D6
  border-radius: 20px
.bg6
  background-color: #ECE7F6
  border-radius: 20px
.bg7
  background-color: #DEE4F0
  border-radius: 20px
.bg8
  background-color: #EDF7ED
  border-radius: 20px
.bg9 
  background-color: #F6FBF6
.bg10 
  background-color: #FFF0DB
.bg11
  background-color: #7E768C
  border-radius: 20px
.bg12
  background-color: #FFF0DB
  border-radius: 20px
.bg1color
  color: #FFB74D
.bgs-1
  background-image: url('../assets/curso/Tema4/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.tabs-c__content-item
  background-color: #EDF7ED
  margin-top: -15px !important
.tarjeta.color-primario 
  background-color: #A5D6A7
.tarjeta.color-acento-botones 
  background-color: #FFF8EE
.linea-tiempo-d.color-primario .linea-tiempo-d__item__number
  background-color: #FFE060 !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item__content
    background-color: #FFE060 !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #F6F3FA !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
    background-color: #F6F3FA !important
.w-25
  width: 25% !important
.tabla-a 
  th
    text-align: left
    padding: 20px
  td
    text-align: left
    padding: 15px 20px
.texto-izquierda 
  text-align: left !important

.pasos-a__circle 
  width: 50px
  background-color: #638164
.pasos-a__circle div 
  color: #fff

.acordion__accion__btn--a 
  background-color: #3BF2D6 !important
.acordion .tarjeta--azul
  background-color: #ECE7F6 !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #EDF7ED !important

.subt
  display: flex
  align-items: center
  position: relative
  width: fit-content
  img
    width: 70px
  &::after
    content: ''
    position: absolute
    background-color: $color-primario
    border-top-right-radius: 20px
    width: 94.5%
    height: 70%
    top: 10px
    right: 0
    z-index: 0
  h3, img
    z-index: 999  
    position: relative
  @media (max-width: $bp-max-sm)
    &::after
      height: 90%
      top: 2px
  @media (max-width: $bp-max-xs)
    &::after
      height: 95%
      top: 0px
.subt2
  background-color: #D1C4E9
  width: fit-content
  padding: 10px 20px
  h3
    border-bottom: 5px solid #FAF9FD
.cursor-pointer.crd_hover_txt
  cursor: pointer
.crd_hover_txt
  display: inline-block
  overflow: hidden
  position: relative
  border-radius: 25px
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  transform: translateZ(0) 
  &:hover    
    .crd_hover_txt--body
      height: 75%   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #FFE2B8
      h4, p
        opacity: 1
        color: #12263F !important
  .crd_hover_txt--body
    position: absolute
    padding: 1.1rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #A79DBB
    h4
      color: #ffff
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

.lista-ol--cuadro__vineta 
    background-color: #638164
